<a href="https://colab.research.google.com/github/NoelleMtz/deep-learning-challenge/blob/main/AlphabetSoupCharity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [23]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [24]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN', 'NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [25]:
# Determine the number of unique values in each column.
for bob in application_df.columns:
    print(bob, len(application_df[bob].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [26]:
# Look at APPLICATION_TYPE value counts for binning
app_counts= application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [27]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<1000].index) # used 1000 for cutoff

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [28]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [29]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [30]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [31]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [32]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [33]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [34]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

# 2.	Create a neural network model by assigning the number of input features and nodes for each layer using TensorFlow and Keras
nn = tf.keras.models.Sequential()

# First hidden layer and choose an appropriate activation function.
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='relu', input_dim=input_features))

# Second hidden layer with an appropriate activation function
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer with an appropriate activation function
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

#

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 10)                410

 dense_4 (Dense)             (None, 5)                 55

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 471
Trainable params: 471
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the model (1st)
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [36]:
# Train the model (1st)
fit_model = nn.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
804/804 [==============================] - 4s 2ms/step - loss: 0.6078 - accuracy: 0.6894
Epoch 2/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5693 - accuracy: 0.7218
Epoch 3/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5632 - accuracy: 0.7261
Epoch 4/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5602 - accuracy: 0.7289
Epoch 5/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5587 - accuracy: 0.7290
Epoch 6/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7297
Epoch 7/10
804/804 [==============================] - 2s 3ms/step - loss: 0.5566 - accuracy: 0.7289
Epoch 8/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5559 - accuracy: 0.7290
Epoch 9/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7303
Epoch 10/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7308

In [37]:
# 8.	Create a callback that saves the model's weights every five epochs
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define checkpoints variables
checkpoint_path= '../checkpoints/weights.{epoch}.hdf5'

# Create callback
cp_callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq='epoch',
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [38]:
#retrain model with epochs
fit_model_1 = nn.fit(X_train_scaled, y_train, epochs=10,callbacks=[cp_callback])

Epoch 1/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5537 - accuracy: 0.7302
Epoch 2/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7315
Epoch 3/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7308
Epoch 4/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7311
Epoch 5/10
782/804 [============================>.] - ETA: 0s - loss: 0.5520 - accuracy: 0.7324
Epoch 5: saving model to ../checkpoints/weights.5.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7319
Epoch 6/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7324
Epoch 7/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7317
Epoch 8/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7320
Epoch 9/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7329
Epoch 10/10
778/804 [============================>.] - ETA: 0s - loss: 0.5505 - accuracy: 0.7330
Epoch 10: saving model to ../checkpoints/weights.10.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5509 - accuracy: 0.7322

In [39]:
# 9.	Evaluate the 1st model using the test data to determine the loss and accuracy.
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

# Accuracy 72.47%

268/268 - 0s - loss: 0.5622 - accuracy: 0.7262 - 442ms/epoch - 2ms/step
Loss: 0.5621646642684937, Accuracy: 0.7261807322502136

In [40]:
# What to do with epoch callbacks?

In [41]:
#	10.Save and export your results to an HDF5 file. Name the file AlphabetSoupCharity.h5.
# Export our model to HDF5 file
from google.colab import files

nn.save('../h5/AlphabetSoupCharity.h5')